.activityContainer {
    height: 100%;
    max-width: 500px;
    overflow: auto;
    padding: 0 0.5em;
}

.infoContainer {
    padding-top: 2em;
}

.activityCard {
    align-items: center;
    justify-items: center;
    display: flex;

}

.activityCard img {
    width: 50px;
    border-radius: 1.2em;
    margin-right: 1em;
}


.activityCard h6 {
    font-weight: 500;
    font-size: 1em;
    text-align: justify;
    max-width: 300px;
    margin-bottom: 1em;
    margin-top: 1em;
}

.activityCard p {
    color: #aaaaaa;
    font-weight: 300;
    text-align: end;
    margin-left: 5em;

}


